@charset "UTF-8";

*{
	margin: 0;
}

header{
	height: 80px;
	margin-top: 10px;
}

main{
	min-height: 100vh;
	margin-bottom: -100px;
}

section{
	width: 90%;
	top: 80px;
	margin: auto;
}
.push{
	height: 100px;
}
footer {
	background-color: #D2DDE7;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
#navi{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 400px;
	height: 100%;
	margin: auto;
	background-color: #344A59;
	
}