@charset "UTF-8";

*{
	margin: 0;
}
header{
	height: 110px;
	margin-top: 10px;
}
main{
	min-height: 100vh;
	margin-bottom: -100px;
}
#wrapper{
	width: 80%;
	margin: auto;
}
.push{
	height: 100px;
}
footer {
	background-color: #D2DDE7;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#navi{
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 300px;
	height: 100%;
	margin: auto;
	background-color: #D2DDE7;
}
.mainTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30pt;
	color: #595959;
	margin-top: 30px;
}
.mainSmallTitle{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15pt;
	color: #595959;
}
